<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>homepage</display-name>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_Controller</display-name>
    <servlet-name>Login_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Login_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Controller</servlet-name>
    <url-pattern>/Login_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HR_Attendance_Controller</display-name>
    <servlet-name>HR_Attendance_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.HR_Attendance_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HR_Attendance_Controller</servlet-name>
    <url-pattern>/HR_Attendance_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin_Controller</display-name>
    <servlet-name>UserLogin_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.UserLogin_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin_Controller</servlet-name>
    <url-pattern>/UserLogin_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_StoriesController</display-name>
    <servlet-name>Add_StoriesController</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_StoriesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_StoriesController</servlet-name>
    <url-pattern>/Add_StoriesController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_HeadlinesController</display-name>
    <servlet-name>Add_HeadlinesController</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_HeadlinesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_HeadlinesController</servlet-name>
    <url-pattern>/Add_HeadlinesController</url-pattern>
  </servlet-mapping>
</web-app>